.appointment-list-container {
    width: 100%;
    margin: 0px auto 50px auto;
}

.row {
    display: flex;
}

.header {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 6px 6px 0px 0px;
    font-weight: 500;
    box-shadow: 0px 2px 5px rgb(107, 107, 107,0.2);
    position: relative;
    z-index: 10;
}

.filter-date {
    width: 20%;
    margin: 0px auto 2% auto;
}

.txt {
    box-sizing: border-box;
    width: 98%;
    padding: 2%;
    border: 1.5px solid rgb(109, 109, 109);
    border-radius: 5px;
    font-size: 15px;
    font-family: inherit;
}

.table-element {
    width: 10%;
    padding: 1% 0px 1% 0px;
    text-align: center;
    box-sizing: border-box;
}

    .table-element:nth-child(1) {
        width: 20%;
    }

    .table-element:nth-child(2) {
        width: 20%;
    }

    .table-element:last-child {
        width: 20%;
        display: flex;
        justify-content: space-evenly;
    }

.row:not(.header) {
    background-color: white;
    border-bottom: 2px solid rgb(200, 200, 200);
}

.row:last-child {
    border-radius: 0px 0px 6px 6px;
}

.column-name {
    background-color: rgb(35, 35, 35);
    font-weight: bold;
    color: white;
    padding: 1% 2% 1% 2%;
    width: 30%;
    display: none;
}

.column-value {
    padding: 1% 2% 1% 2%;
}

.appointment-button {
    font-family: inherit;
    width: 45%;
    padding: 5px;
    margin:5px;
    background-color: rgb(33, 33, 33);
    color: white;
    border: none;
    border-radius: 6px;
}
.Closed .appointment-button, .Cancelled .appointment-button {
    background-color: rgb(200, 200, 200);
    color: white;
}
.appointment-button:not(.Closed .appointment-button,.Cancelled .appointment-button):hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}
.report-error {
    text-align: center;
}
@media only screen and (max-width: 1000px) {
    .appointment-list-container {
        width: 100%;
    }
}

@media only screen and (max-width: 850px) {
    .filter-date {
        width: 50%;
    }

    .column-name {
        display: block;
        border-radius: 6px 0px 0px 6px;
    }

    .column-value {
        width: 70%;
        background-color: white;
        border-radius: 0px 6px 6px 0px;
    }

    .row:not(.header) {
        display: block;
        width: 80%;
        margin: auto;
        background-color: rgb(239,239,239);
        border: none;
    }

    .header {
        display: none;
    }

    .table-element {
        width: 100%;
        text-align: left;
        display: flex;
        padding: 0px;
        margin: 1%;
        background-color: rgb(239,239,239);
    }

        .table-element:first-child {
            width: 100%;
        }

        .table-element:nth-child(2) {
            width: 100%;
        }

        .table-element:last-child {
            width: 100%;
            display: flex;
        }

    .appointment-button {
        width: 45%;
        padding: 10px;
        background-color: rgb(33, 33, 33);
        color: white;
        border: none;
        border-radius: 6px;
        margin: 10px 5px 10px 5px;
        text-align:center;
    }
}
